name: CI-Merged
on: [push, pull_request]
jobs:
  # ----------- Chemin 1 : SANS TDD -----------
  test_no_tdd:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Installer dépendances
        run: pip install -r requirements.txt
      - name: Tests SANS TDD
        run: pytest
  # ----------- Chemin 2 : AVEC TDD -----------
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: pip install flake8
      - name: Lint
        run: flake8 .
  test_tdd:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - name: Installer dépendances
        run: pip install -r requirements.txt
      - name: Tests AVEC TDD
        run: pytest --maxfail=1 --disable-warnings -q
  build:
    runs-on: ubuntu-latest
    needs: test_tdd
    steps:
      - uses: actions/checkout@v4
      
      - name: Installer dépendances
        run: pip install -r requirements.txt

      - name: Add project to PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)" >> $GITHUB_ENV

      - name: Lancer les tests
        run: pytest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy
        run: echo "Deploy OK"